{% extends "base.html" %}

{% block title %}{{ page.title }} - Small{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
<p>By {{ page.author }} on {{ page.created_at }}</p>
<article>
    {% for paragraph in page.content %}
        {% for child in paragraph.children %}
            {% if child.__class__.__name__ == 'Text' %}
            <{{ child.type | lower }}>{{ child.content }}</{{ child.type | lower }}>
            {% elif child.__class__.__name__ == 'Image' %}
            <p>
                <img src="{{ child.src }}" alt="{{ child.alt }}" width="{{ child.width }}" height="{{ child.height }}">
            </p>
            {% endif %}
        {% endfor %}
    {% endfor %}
</article>
{% endblock %}
